footer {
    color: $color4;
    background-color: $color1;
    font-family: $mainFont;
}

.footerFlexParent {
    display: flex;
    justify-content: center;
}

.footerFlexParent p {
    margin: 1%;
}

a {
    text-decoration: none;
    color: $color4;
    border: 2px solid transparent;
}

a:hover,
a:focus {
    border: 2px solid $color4;
}

// footer p {

// }