html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    line-height: 1.6;
    color: $color4;
}

.wrapper {
    max-width: 1240px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
button,
form {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}