html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    line-height: 1.6;
    color: $color4;
    background-color: $color5;
}

.appContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1240px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
button,
form {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 5.5vw;
}

a {
    display: inline-block;
    padding: 25px 50px;
}