header {
    background-color: $color2;
}

header .wrapper {
    width: 70%;
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
}

.logoContainer {
    width: calc(15% -10%);
    padding: 2% 0;
    margin-right: 10%;
}

.logoContainer img {
    width: 40vh;
}

.titleContainer {
    width: calc(85% - 10%);
    padding: 2% 0;
    margin-left: 10%;
}

h1 {
    font-family: $headerFont;
    margin: 20px 0;
    color: #fdff00;

}

img {
    box-shadow: 5px 10px 5px 0px $color1;
}