header {
    background-color: $color2;
}

header .wrapper {
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex: 1, 2;
}

.logoContainer {
    width: 20%;
    padding: 3% 0 1.5%;
    order: 1;
}

.titleContainer {
    width: calc(80% - 7%);
    padding-top: 2.5%;
    margin-left: 7%;
    order: 2;
}

h1,
h2 {
    line-height: 1.2;
}

h1 {
    color: $color1;
}

h1,
.titleContainer h2 {
    font-family: $headerFont;
    letter-spacing: 5px;
}

.titleContainer h2 {
    font-size: 4.2vw;
    color: $color4;
}

img {
    box-shadow: 5px 10px 5px 0px $color1;
}