main {
    font-family: $mainFont;
    background-color: $color5;
}

button, 
input, 
select, 
textarea {
    font-family: $mainFont;
}

.instructions,
form {
    display: flex;
    justify-content: center;
}

.instructions {
    margin: 25px 0%;
}

button {
    margin: 20px 45% 20px 46%;
    padding: 1% 2%;
    color: $color4;
    background-color: $color1;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    box-shadow: none;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid transparent;
}

button:hover,
button:focus {
    color: $color1;
    background-color: $color4;
    box-shadow: 5px 10px 5px 0px $color1;
    border: 2px solid $color1;
}

.mainFlexParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultsFlex {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    margin: 0 20% 25px 31%;
}

.resultsFlex li {
    line-height: 2;
}

select {
    margin: 3% 1%;
    border-radius: 5px;
    color: $color4;
    background-color: $color1;
    border: 2px solid transparent;
    border-radius: 5px;
}

select#year {
    padding: 0 34px;
}

select#category {
    padding: 0 15px;
}

select:hover,
select:focus {
    border: 2px solid $color4;
}

// ***Pop up sweet alert styling*** 
.swal-icon--warning {
    background-color: $color4;
}

.swal-title {
    font-family: $headerFont;
}

.swal-text {
    color: $color5;
    font-family: $mainFont;
}