
@media (max-width: 1150px) {
    .resultsFlex {
        margin: 0 10% 25px 22%;    
    }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    header .wrapper {
    width: 90%;
    padding: 1% 0;
    }

    .footerFlexParent {
        padding: 1.5%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .footerFlexParent {
        display: block;
        text-align: center;
    }

    .resultsFlex {
        margin: 0 2% 25px 11%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    body {
        text-align: center;
    }

    // Header Mobile
    header .wrapper {
        width: 95%;
    }

    .logoContainer {
        width: 50%;
        margin: 0 auto;
    }

    .titleContainer {
        width: 100%;
        padding-top: 2.5%;
        margin-left: 0;
    }

    h1,
    h2 {
        line-height: 1.5;
    }

    h1 {
        font-size: 10vw;
    }

    h1,
    .titleContainer h2 {
        letter-spacing: 5px;
    }

    .titleContainer h2 {
        font-size: 7.5vw;
    }

    .footerFlexParent p {
        font-size: 1.75rem;
    }

    button {
        margin: 30px 20% 0 20%;
        padding: 1% 20%;
    }

    .resultsFlex {
        margin: 3% 1% 25px 2%;
    }

    // aligning the results to the left in mobile instead of centering them 
    .resultsFlex li {
        text-align: left;
    }

    // Disabling Flexboxes for Mobile
    header .wrapper,
    .mainFlexParent,
    .resultsFlex,
    .instructions,
    form {
        display: block;
    }
}
