/* Coolors Exported Palette from coolors.co/ff01fb-02a9ea-f6f7f8-faff00-000300 */

$color1: rgb(255, 1, 251);
$color2: rgb(2, 169, 234);
$color3: rgb(246, 247, 248);
$color4: rgb(253, 255, 0);
$color5: rgb(0, 3, 0);


// Fonts:
$headerFont: 'Monoton', cursive;
$mainFont: 'Open Sans', sans-serif;