/* Coolors Exported Palette from coolors.co/ff01fb-02a9ea-f6f7f8-faff00-000300 */

/* RGB */
$color1: rgba(255, 1, 251, 1);
$color2: rgba(2, 169, 234, 1);
$color3: rgba(246, 247, 248, 1);
$color4: rgba(250, 255, 0, 1);
$color5: rgba(0, 3, 0, 1);


// Fonts:

// <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Sriracha&display=swap" rel="stylesheet">
$headerFont: 'Sriracha', cursive;
$mainFont: 'Open Sans', sans-serif;