@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* Coolors Exported Palette from coolors.co/ff01fb-02a9ea-f6f7f8-faff00-000300 */
html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  line-height: 1.6;
  color: #fdff00;
  background-color: #000300;
}

.appContainer {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
button,
form {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 5.5vw;
}

a {
  display:  inline-block;
  padding:  25px 50px;
}

header {
  background-color: #02a9ea;
}

header .wrapper {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1,;
      -ms-flex: 1, 2;
          flex: 1, 2;
}

.logoContainer {
  width: 20%;
  padding: 3% 0 1.5%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.titleContainer {
  width: calc(80% - 7%);
  padding-top: 2.5%;
  margin-left: 7%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

h1,
h2 {
  line-height: 1.2;
}

h1 {
  color: #ff01fb;
}

h1,
.titleContainer h2 {
  font-family: "Monoton", cursive;
  letter-spacing: 5px;
}

.titleContainer h2 {
  font-size: 4.2vw;
  color: #fdff00;
}

img {
  -webkit-box-shadow: 5px 10px 5px 0px #ff01fb;
          box-shadow: 5px 10px 5px 0px #ff01fb;
}

main {
  font-family: "Open Sans", sans-serif;
  background-color: #000300;
}

button,
input,
select,
textarea {
  font-family: "Open Sans", sans-serif;
}

.instructions,
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instructions {
  margin: 25px 0%;
}

button {
  margin: 20px 45% 20px 46%;
  padding: 1% 2%;
  color: #fdff00;
  background-color: #ff01fb;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid transparent;
}

button:hover,
button:focus {
  color: #ff01fb;
  background-color: #fdff00;
  -webkit-box-shadow: 5px 10px 5px 0px #ff01fb;
          box-shadow: 5px 10px 5px 0px #ff01fb;
  border: 2px solid #ff01fb;
}

.mainFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resultsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0;
  margin: 0 20% 25px 31%;
}

.resultsFlex li {
  line-height: 2;
}

select {
  margin: 3% 1%;
  border-radius: 5px;
  color: #fdff00;
  background-color: #ff01fb;
  border: 2px solid transparent;
  border-radius: 5px;
}

select#year {
  padding: 0 34px;
}

select#category {
  padding: 0 15px;
}

select:hover,
select:focus {
  border: 2px solid #fdff00;
}

.swal-icon--warning {
  background-color: #fdff00;
}

.swal-title {
  font-family: "Monoton", cursive;
}

.swal-text {
  color: #000300;
  font-family: "Open Sans", sans-serif;
}

footer {
  color: #fdff00;
  background-color: #ff01fb;
  font-family: "Open Sans", sans-serif;
}

.footerFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerFlexParent p {
  margin: 1%;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fdff00;
  border: 2px solid transparent;
}

a:hover,
a:focus {
  border: 2px solid #fdff00;
}

@media (max-width: 1150px) {
  .resultsFlex {
    margin: 0 10% 25px 22%;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  header .wrapper {
    width: 90%;
    padding: 1% 0;
  }
  .footerFlexParent {
    padding: 1.5%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .footerFlexParent {
    display: block;
    text-align: center;
  }
  .resultsFlex {
    margin: 0 2% 25px 11%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    text-align: center;
  }
  header .wrapper {
    width: 95%;
  }
  .logoContainer {
    width: 50%;
    margin: 0 auto;
  }
  .titleContainer {
    width: 100%;
    padding-top: 2.5%;
    margin-left: 0;
  }
  h1,
  h2 {
    line-height: 1.5;
  }
  h1 {
    font-size: 10vw;
  }
  h1,
  .titleContainer h2 {
    letter-spacing: 5px;
  }
  .titleContainer h2 {
    font-size: 7.5vw;
  }
  .footerFlexParent p {
    font-size: 1.75rem;
  }
  button {
    margin: 30px 20% 0 20%;
    padding: 1% 20%;
  }
  .resultsFlex {
    margin: 3% 1% 25px 2%;
  }
  .resultsFlex li {
    text-align: left;
  }
  header .wrapper,
  .mainFlexParent,
  .resultsFlex,
  .instructions,
  form {
    display: block;
  }
}
